
function formortCount(count){
        var count=parseInt(count)
         if(count>=100000000){
             return (count/100000000).toFixed(1)+"亿"
         }else if(count>=10000){
             return (count/10000).toFixed(1)+"万"
         }else{
             return count+""
         }
     };

function leftAddZero(arg){
        arg=arg+""
        return ("00"+arg).slice(arg.length)
     };

function formortDuration(duration){
        
        var duration=parseInt(duration/1000)
        var minute=Math.floor(duration/60)
        var second=Math.floor(duration%60)
        return leftAddZero(minute)+":"+leftAddZero(second)
     }  


module.exports={
    formortCount:formortCount,
    formortDuration:formortDuration

}